

server:
  extraArgs:
    - --insecure

  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"  # Just use nlb to rule out the issue
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: "HTTP"
      service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: "/healthz"
      service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "8080"
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-east-1:803817915563:certificate/77e1158e-4346-4590-9b55-f29c38c8ea33"
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"

configs:
  params:
    server.insecure: true

# values-argocd.yaml



# Configs for HA if needed
controller:
  replicas: 1  # Increase for HA

repoServer:
  replicas: 1  # Increase for HA

redis:
  enabled: true

# Global configs
configs:
  params:
    # Required for insecure mode
    server.insecure: true
  cm:
    # Set your external URL
    url: https://argocd.cloud.silentchorus.com
